.navbar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img {
  object-fit: cover;
}

.navLogo p {
  color: #171717;
  font-size: 38px;
  font-weight: 600;

  @media screen and (max-width: 1024px) {
    font-size: 30px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navMenu,
.menuBurgerList {
  display: flex;
  align-items: center;
  list-style: none;
  color: #626262;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 35px;

  background-color: rgba(49, 49, 49);
  height: 30px;
  border-radius: 30px;

  @media screen and (max-width: 1300px) {
    display: none;
  }
}

.navMenu {
  gap: 50px;
  justify-content: space-around;
}


.navMenu li {
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}

.menuLink,
.burgerItem {
  color: #FF7235;
}

.navLoginCart {
  display: flex;
  align-items: center;
  gap: 45px;

  @media screen and (max-width: 1300px) {
    display: none;
  }
}

.loginBtn,
.burgerLoginBtn {
  width: 157px;
  outline: none;
  border-radius: 75px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  padding: 12.5px 10px;
  border: 1px solid #303030;
  background: rgba(49, 49, 49);
  color: #FF7235;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.2s;
}

.loginBtn:hover {
  box-shadow: 0 0 10px #FF7235, 0 0 25px red, 0 0 50px #FF7235;
  transition-delay: 0.1s;
}

.loginBtn span {
  position: absolute;
}

.loginBtn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FF7235);
}

.loginBtn:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.loginBtn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, red);
}

.loginBtn:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.loginBtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #FF7235);
}

.loginBtn:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.loginBtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, red);
}

.loginBtn:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.loginBtn:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, red);
  color: #bfbfbf;
  box-shadow: 0 0 8px #FF7235, 0 0 8px red, 0 0 8px #FF7235;
  transition: 0.1s;
}

.loginBtn:active span:nth-child(1)
span:nth-child(2)
span:nth-child(2)
span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

.navCartCount,
.navCartCountBurger {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.navCartCount {
  margin-top: -35px;
  margin-left: -55px;
}

.navCartCountBurger {
  margin-left: -90px;
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 35px;
  height: 25px;
  cursor: pointer;

  @media screen and (max-width: 1300px) {
    display: flex;
  }
}

.burger span{
  height: 2px;
  background-color: black;
}

.burger span:nth-of-type(2) {
  width: 20px;
}

// Menu Burger
.menuBurger {
  width: 300px;
  height: 100vh;
  padding: 40px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: rgba(49, 49, 49);
  animation: transform 1s;
}

@keyframes transform {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.closeButton {
  align-self: end;
  background: transparent;
  border: none;
  cursor: pointer;
}

.wrapperBurgerLogin {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.burgerLoginBtn {
  border: 1px solid #FF7235;
}

.menuBurgerList {
  display: flex;
  flex-direction: column;
  padding: 10px 35px;
  gap: 20px;
}
