.productDisplay {
  display: flex;
  margin: 0 170px;

  @media screen and (max-width: 1330px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0 20px 40px 20px;
  }
}

.displayLeft {
  display: flex;
  gap: 17px;
  max-width: 100%;
  max-height: 100%;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.imgList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (max-width: 768px) {
    flex-direction: row;
    order: 2;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.imgList img {
  height: 163px;
}

.mainImg {
  width: 586px;
  height: 700px;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    height: auto;
  }
}

.displayRight {
  margin: 0 70px;
  display: flex;
  flex-direction: column;
}

.displayRight h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;

  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
}

.rightStar {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.rightPrices {
  display: flex;
  margin: 40px 0;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.rightOldPrice {
  color: #818181;
  text-decoration: line-through;
}

.rightNewPrice {
  color: #FF7235;
}

.rightSizes {
  display: flex;
  margin: 30px 0;
  gap: 20px;
}

.rightSize h1 {
  margin-top: 55px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}

.rightSizes div {
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}

.activeProduct {
  box-shadow: 0px 0px 3px 0px;
}

.addButton {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 70px;
  margin-top: 30px;
  position: relative;
  background: #FF7235;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  transition: 0.2s;

  @media screen and (max-width: 1024px) {
    font-size: 18px;
  }

  @media screen and (max-width: 600px) {
    font-size: 15px;
  }
}

.addButton:hover {
  box-shadow: 0 0 10px #FF7235, 0 0 25px red, 0 0 50px #FF7235;
  transition-delay: .03s;
}

.addButton span {
  position: absolute;
}

.addButton span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FF7235);
}

.addButton:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
}

.addButton span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, red);
}

.addButton:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
}

.addButton span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #FF7235);
}

.addButton:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
}

.addButton span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, red);
}

.addButton:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
}

.addButton:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, red);
  color: #bfbfbf;
  box-shadow: 0 0 8px #FF7235, 0 0 8px red, 0 0 8px #FF7235;
  transition: 0.1s;
}

.addButton:active span:nth-child(1)
span:nth-child(2)
span:nth-child(2)
span:nth-child(2) {
  transition: none;
  transition-delay: none;
}

.rightCategory {
  margin-top: 10px;
}

.rightCategory span {
  font-weight: bold;
}
